:root {
  --color-primario:#05C7F2;
  --color-secundario:#1D1F59;
  --color-terciario:#f20505cb;
  --color-cuarto:#0367A6;
  --acento:#FFD148;
  --color-negro: black;
  --color-blanco:white;
  --color-gris-turquesa:#0e7d96;
  --color-gris-claro:rgba(160, 160, 160, 0.407);
  --color-confirmacion:#007a4c;
  
}
#app{
  width: 100%;
  height: 100%;
  background-color: var(--color-negro);
  display: grid;
  place-items: center;
}

body{
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: sans-serif;
  height:100vh;
  margin:0%;
}

a{
  color:var(--color-blanco);
  text-decoration: none;
}
img{
  width:40%;
  margin: auto;
  display: block,
}
p{
  font-size: 12px;
  font-style: italic !important;
}

