:root {
  --color-primario:#05C7F2;
  --color-secundario:#1D1F59;
  --color-terciario:#F20505;
  --color-cuarto:#0367A6;
  --acento:#FFD148;
  --color-negro: black;
  --color-blanco:white;
}

body{
  background-color: var(--color-negro);
  color:var(--color-blanco);
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: sans-serif;
  height:100vh;
  margin:0%;
}

a{
  color:var(--color-blanco);
  text-decoration: none;
}
img{
  width:40%;
  margin: auto;
  display: block,
}
p{
  font-size: 12px;
  font-style: italic !important;
}
span{
  text-decoration: underline;
}
